.skin-blue .main-header .navbar{background-color:#f498c2}
.skin-blue .main-header .navbar .nav>li>a{color:#fff}
.skin-blue .main-header .navbar .nav>li>a:hover;
.skin-blue .main-header .navbar .nav>li>a:active;
.skin-blue .main-header .navbar .nav>li>a:focus;
.skin-blue .main-header .navbar .nav .open>a;
.skin-blue .main-header .navbar .nav .open>a:hover;
.skin-blue .main-header .navbar .nav .open>a:focus;
.skin-blue .main-header .navbar .nav>.active>a{background:#f498c2;color:#f6f6f6}
.skin-blue .main-header .navbar .sidebar-toggle{color:#fff}
.skin-blue .main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background:rgba(0,0,0,0.1)}
.skin-blue .main-header .navbar .sidebar-toggle{color:#fff}
.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color:#367fa9}
.skin-blue .main-header .logo{background-color:#c997c6}

.skin-blue .main-sidebar{background-color:#fcdcdf}
.skin-blue .main-sidebar .sidebar ul li a{
	color: black;
}
.skin-blue .main-sidebar .sidebar .user-panel:hover{
	background-color:#967dad;
}
.skin-blue .main-sidebar .sidebar ul li a:hover{
	color: #967dad;
}