.template-cart{
	width: 1000px;
	height: 300px;
	margin:0px auto;
	position: relative;
	margin-top: 50px;
}
form{
	width: 1000px;
	margin:0px auto;
}
.template-cart .table-responsive{
	width: 1000px;
	margin: 0px auto;
}
.template-cart .table-responsive table {
	/*border:1px solid blueviolet;*/
}
.template-cart .table-responsive table thead{
	line-height: 25px;
	padding: 0px;

}
.template-cart .table-responsive table thead tr th{
	padding: 0px;
	margin: 0px;
	width: 10%;
	border:1px solid #f2f2f2;

}
.template-cart .table-responsive table tbody tr td{
	padding: 0px;
	margin: 0px;
	border:1px solid #f2f2f2;
	text-align: center;
}
.template-cart .table-responsive table tbody tr td input{
	width: 100px;
}
.template-cart .table-responsive table tbody tr td a{
	text-align: center;
	text-decoration: none;
	color: black;	
}
.template-cart .table-responsive table tfoot tr td{
	border-radius: 10px;
	height: 50px;

}
.template-cart .table-responsive table tfoot tr td a{
	font-family: sans-serif;
	padding: 15px;
	text-decoration: none;
	color: black;
	background-color: lightblue;

}
.template-cart .table-responsive table tfoot tr td input{
	font-family: sans-serif;
	background-color: lightblue;
	padding: 15px;
	text-decoration: none;
	color: black;
}
.template-cart img{
	width: 100px;
	height: 100px;
}
.template-cart .total-cart{
	position: absolute;
	right: 0px;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 60px;
}
.template-cart .total-cart a{
	color: white;
	text-decoration: none;
	position: absolute;
	right: 0px;
	padding: 10px;
	margin: 10px;
	border-radius: 30px;
	background-color: lightblue;
}